body {
    font-family: Helvetica;
    font-size: 16px; 
    background-color: #F6F8F9;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* *************************header************************* */
.header{
    width: 100%;
    height: 50px;
    background: #F6F8F9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
}
.container{
    width: 98%; 
}
.logo{
    text-transform: uppercase;
    color: #FA6980;
    font-size: 13px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.container__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__inner_item{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    opacity: 0.5;
    color: #343638;
}
.home{ 
    color:#343638;
    opacity: 1;
}
ul,li{
    list-style: none;
}
.cont{
    display: flex;
    align-items: center;
}
.cont a{
    margin-left: 15px;
}
/* ************************section************************ */
.section{
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: center;
    background-color: #F6F8F9;
}
.section__item{
    width: 80.5%;
    height: 100%; 
    display: flex;
    flex-direction: column;
}
.section__child_left{
    display: flex;
    flex-direction: column; 
    width: 50%;
    height: 500px;
      
}
.section__child_item1{
    width: 100%;
    height: 100%;
    background-image: url(./assets/images/view.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    object-fit: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius:6px ;
}
.section__child_right{ 
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction:column ;
    background-color: #FFFFFF;
}

.section__item1{
    width: 100%;
    display: flex;
}
.section__inner_moth{
    width: 100%; 
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}





 
.section__child_item{
    display: flex;
    align-items: center; 
}
.section__child_item img{
    margin-right: 30px;
}
.child_item1{
    margin-right: 20px;
    font-size: 11px;
    font-weight: bold;
    color: #202124;
    text-transform: uppercase;
}
.child_item2{
    margin-left: 20px;
    font-size: 11px;
    font-weight: bold;
    color: #A6ADB4;
    text-transform: uppercase;
}
.section__child{ 
    width: 360px;
    height: 190px; 
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.child__header{
    font-size: 32px;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.line1 > div{
    width: 40px;
    height: 2px;
    background-color: #FA6980; 

} 
.child_lorem{
    font-size: 16px;
    font-family: inherit;
    color: #FFFFFF;
    margin-top: 20px;
    font-weight: bold;
}
.child_avatar{
    margin-top: 37px;
}




.section__child_right{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

}
.right__child_section{
    width: 62%;
    height: 246px; 
} 
option{
     font-size: 13px !important;
    font-family: inherit;
    color:#A6ADB4 !important;
}

.section_select{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #EBEDED;
    outline: none;
    font-size: 13px;
    color: #A6ADB4;
    font-family: inherit;
    padding: 6px;
}
.right__child_label{
    width: 100%;
    color: #202124;
    font-size: 13px;
    font-weight: bold; 
}
.section_select1{
    
    border: 2px solid #EBEDED;
}
.right__child_label1{ 
    color: #202124;
    font-size: 13px;
    font-weight: bold; 
}
.label_moth{
    margin-top: 40px;
    margin-bottom: 40px;
}
.but1{
    width: 134px;
    height: 40px;
    background-color: #FA6980;
    font-size: 11px;
    font-family: inherit;
    font-weight: bold;
    border-radius: 6px;
    border: none;
     
}
.but1_inner{
    color: white;
} 
.avatar__info_inner{
    border-top: 2px solid #EBEDED;
    border-bottom: 2px solid #EBEDED;
}
/* ***********************************avatar inforamiton*********************************** */
 
.container__item1{
    display: none;
}


.avatar__info{
    margin-top: 40px;
    width: 100%;  
    display: flex;
    justify-content: center;
}
.avatar__info_inner{
    width: 80.5%;
    height: 253px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.avatar__inner_item{
    height: 172px;
    width: 360px;
    display: flex;
    flex-direction: column; 
}
.mot{
    width: 65%;
    display: flex;
    justify-content: space-between;
}
.avatar__inner_item h2{
    color: #202124;
    font-size: 24px;
}
.avatar__item_text{
    color: #A6ADB4;
    font-size: 14px;
    line-height: 1.3;
}
.avatar__item_text1{
    line-height: 1.15;
    margin-right: 10px;
}
.img_div{
    margin-bottom: 20px;
}
.sp1{
    margin-top: 20px;
    display: flex;
    align-items: center;

    height: 43px;
    color: #A6ADB4;
    font-size: 13px;
}
.sp1 img {
    margin-right: 10px;
}
.avatar__inner_item1{
    height: 172px;
    width: 360px;  
    margin-right: 10px;
}
.avatar__inner_item2{
    height: 172px;
    width: 360px; 
}
/* **************************eleph section************************** */
.eleph_p{
    display: none;
}
.eleph_section{
    margin-top: 40px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.eleph__section_inner{
    width: 80.5%;
    margin-bottom: 160px;
    border-bottom: 2px solid #EBEDED;
} 
.eleph_img_mother{
    margin-bottom: 40px;
    border-radius: 6px;
    height: 500px;
    width: 100%;
    background-image: url(./assets/images/elephbig.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}
.eleph_description{
    width: 65%;
    font-size: 14px;
    color: #A6ADB4;
    font-weight: 300;
    line-height: 1.3;
}
.eleph_description2{
    margin-bottom:40px ;
}

/* ****************************pagintaion**************************** */
.pagination{
    width: 233px;
    height: 23px;
    display: none; 
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 74px;
}
.pagination__item{
    width: 33px;
    height: 100%; 
    font-size: 11px;
    font-weight: bold;
    font-family: inherit;
    color: #A6ADB4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination__item1 span{  
    border-bottom: 2px solid #FA6980;
}



/* ****************************footer****************************  */
.ff {
    display: flex;
    width: 378px;
    justify-content: space-between;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #A6ADB4;
    border: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__item {
    width: 80.5%;
    height: 100%;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__item_left {
    width: 378.2px;
    height: 86px;
    display: flex;
    justify-content: space-between;
}

.resp {
    display: none;
}

.log {
    font-size: 13px;
    font-weight: bold;
    font-family: inherit;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer__left_item {
    width: 62px;
    height: 100%;

}

.footer__left_item1 {
    width: 59px;
    height: 100%;
}

.footer__left_item2 {
    width: 79px;
    height: 100%;
}

.inner_a {
    font-size: 13px;
    font-family: inherit;
    font-weight: bold;
    color: #CBD0D3;
    margin-top: 18px;
}

.input-icons {
    width: 262px;
    height: 65px;
}

.input-field {
    height: 40px;
    width: 262px;
    /* opacity: 0.1; */
    border-radius: 6px;
    padding: 19px;
    font-size: 13px;
    font-family: inherit;
    color: #CBD0D3;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.input-field::placeholder {
    opacity: 0.5;
}

.icon {
    position: absolute;
    margin-top: 13px;
    margin-left: -39px;

}

.x {
    height: 100%;
}

.footer__item_middle,
.footer__item_right {
    height: 86px;

}

.y {
    width: 160px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.sp4 {
    font-size: 11px;
    font-family: inherit;
    margin-top: 15px;
    color: #CBD0D3;
    display: block;
}

.footer__item_right {
    width: 160px;
    display: flex;
    justify-content: space-between;
    height: 86px;
}

.but2{
    display: none;
}
@media screen and (max-width:769px){
    .but1{
        display: none;
    }
    .but2{
        display: block;
    }
    footer {
        height: 316px;
    }

    .footer__item_left {
        width: 100%;
    }
}

@media screen and (max-width:883px){
    .avatar__item_text{
        font-size: 12px;
    }
}
@media screen and (max-width:769px){
    .right__child_section{
        width: 90%;
    }
    .but2{
        display: block;
    }
    .pagination{
        display: flex;
    }
    .eleph__section_inner{
        margin-bottom: 0px;
    }
    .section__item1{
        flex-direction: column; 
    }
    .section__child_left,.section__child_right{
        width: 100%;
    }
    .section__child_item1{
        border-bottom-left-radius: 0px;
        border-top-right-radius: 6px;
    }
    .section__child_right{
        border-radius: 0px 0px 6px 6px;
    }
    .eleph_description{
        width: 100%;
        line-height: 1.9;
    }
    .eleph_img_mother{
        height: 260px;
    }
    .eleph_p{
        display: block;
        font-size: 16px;
        font-family: inherit;
        line-height: 1.9;
        color: #202124;
        margin-bottom: 40px;
    }
    .avatar__info_inner{
        flex-direction: column;
        align-items: baseline;
        justify-content: baseline;
        padding-top: 31px;
        height: auto;
    }
    .avatar__inner_item{
        height: auto;
    }
    .avatar__inner_item h2{
        width: 86%;
    }
    .mot{
        margin-top: 40px;
        width: 100%;
    }
    .avatar__inner_item1{
        width: 50%;
    }
    .avatar__inner_item2{
        width: 50%;
    }

    
}

@media screen and (max-width:533px){
    .avatar__info_inner{
        padding-bottom: 50px;
    }
}
@media screen and (max-width:440px){
    .avatar__info_inner{
        padding-bottom:100px;
    }
    .avatar__inner_item{
        width: auto;
    }
}

@media screen and (max-width:376px){
    /* *******************Resp header */
    .responsive__header {
        width: 100%;
        height: 88px;
        position: fixed;
    }

    .resp__container {
        height: 100%;
        width: 100%;
    }

    .resp__container_inner,
    .resp__container_inner1 {
        width: 100%;
        height: 44px;
        background: #F6F8F9;
    }

    .resp__container_inner {
        display: flex;
        justify-content: center;
    }

    .container__item {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sp6 {
        margin-left: 10px;
        font-size: 14px;
        font-family: inherit;
        color: #343638;
    }

    .resp__container_inner1 {
        display: flex;
        justify-content: center;

    }

    .container__item1 {
        width: 95%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        /* background: #343638; */
        align-items: center;
    }

    .container_img {
        width: 16px;
        height: 14px;
    }

    .logo_resp {
        font-size: 13px;
        font-weight: bold;
        font-family: inherit;
        color: #A6ADB4;
    }

    .container_img1 {
        width: 16px;
        height: 16px;
    }
    .header{
        display: none;
    }

    /* ******************section */
    .but2{
        display: none !important;
    }
    .but1{
        display: block;
    }
    .section__child_left{
        height: 388px;
        margin-top: 88px;
    }
    .section__child_right{
        height: 329px;
    }
    .section__inner_moth{
        display: none;
    }
    .section__item{
        width: 100%;
    }
    .section__child_item1{
        border-radius:0;
    }
    .right__child_section {
        width: 90%;
    }
    .avatar__inner_item1, .avatar__inner_item2{
        width: 100%;
    }
    .mot{
        flex-direction: column;
    }
    .avatar__info_inner{
        width: 90%;
        padding-bottom: 10px;
    }
    .eleph__section_inner{
        width: 90%;
    }
    .eleph_img_mother{
        height: 180px;
    }
    footer{
        display: none;
    }
    .pagination{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .eleph_description{
        line-height: 1.5;
    }
    .eleph_p{
        line-height: 1.5;
    }
    .container__item1{
        display: flex;
    }
}